
/*RESPONSIVE*/

/*==========================================
NAVBAR
==========================================*/
@media (min-width: 769px) and (max-width: 991px){

	.navbar-default .navbar-nav>li>a {
		font-size: 14px;
	}

	.navbar-form{
		width: 100%;
	}
}

@media (max-width: 768px) {
    .container-fluid {
        border-bottom: 0px solid #ddd;
        padding-bottom:0px;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        background-color: rgba(131, 167, 165, 0.71);
    }

    .navbar-collapse {
        border-top: 0px solid transparent;
    }	

    .navbar-default .navbar-nav>li>a {
        font-size: 14px;
    }
}